# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform variables
*.tfvars
!terraform/dev/terraform.tfvars.example

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.pyc

# Logs
*.log